*{
    margin:0;
    padding:0;
    border:0;
}
html{
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}
header{
    display:flex;
    justify-content: center;
    position:fixed;
    top:0;
    border-bottom: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    width:100%;
}
.header{
    height:2.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60rem;
}
h1{
    color:#448899;
    font-size: 1.5rem;
    cursor: pointer;
}
ul{
    list-style:none;
    display:flex; /* 讓下一個層次將item1-2水平排列 */
    color:#666666;
    font-size: 0.8rem ;
}
li{
    transition: text-shadow .3s;
    margin-left: 1rem;
    cursor: pointer;
}
li:hover{
    text-shadow: 2px 2px 3px #D8D8D8;
}
.title_container{
    width:60rem;
    margin:5rem auto auto auto;
    margin-bottom: 1.75rem;
}
.title_box{
    display:flex;
    margin:auto 5rem;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    justify-content: center;
}
.title, .userName, .orderNumber{
    margin-bottom: 1.25rem;
    font-weight: bold;
    font-size: 1rem;
    height:1.2rem;
    color:#666666;
}
p.first, .userName, .orderNumber{
    margin-bottom: 0;
}
article{
    width:60rem;
    margin:2rem auto 1.25rem auto;
    color:#666666;
    font-size: 0.8rem;
}
.booking_schedule_container{
    margin:auto 5rem;
}
.content_container{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.attractionImage{
    width:13rem;
    height:10rem;
    margin-bottom: 2rem;
}
.schedule_container{
    margin-left: 1rem;
}
.attraction_container{
    display:flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
}
.schedule_title_container{
    display:grid;
    grid-template-columns: 2.4rem auto;
}
.attractionName{
    font-weight:bold;
    color:#448899;
    font-size: 0.8rem;
    height:0.7rem;
}
.schedule_title{
    font-weight:bold ;
    margin-bottom: 1rem;
    height:0.7rem;
}
.article_bottom{
    border:0;
    margin:auto;
    text-align: end;
}
footer{
    background: #757575;
    color:#FFFFFF;
    width:100%;
    height:5.2rem;
    display:flex;
    justify-content: center;
}
.footer{
    margin-top: 2.25rem;
}
.signin_Window{
    grid-template-rows: 0.5rem 14.5rem;
    justify-items: center;
    position: absolute;
    top:4rem;
    left:0;/*把position的空間歸零，讓margin達成置中 */
    right:0;
    width:17rem;
    height:14.5rem;
    margin:0 auto;
    background: #FFFFFF;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 60px #AAAAAA;
}
.signup_Window{
    grid-template-rows: 0.5rem 17rem;
    justify-items: center;
    position: absolute;
    top:4rem;
    left:0;/*把position的空間歸零，讓margin達成置中 */
    right:0;
    width:17rem;
    height:17rem;
    margin:0 auto;
    background: #FFFFFF;
    border-radius: 0.3rem;
    box-shadow: 0px 4px 60px #AAAAAA;
}
.decorationBar{
    width:100%;
    height:0.5rem;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 0.3rem 0.3rem 0 0;
}
.container{
    width:100%;
    display: grid;
    justify-content: center;
    position:relative;
}
.HeadContainer{
    width:100%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    height:1.35rem;
}
.WindowHead{
    font-size: 1.2rem;
    font-weight: bold;
    color: #666666;
}
.close{
    position:absolute;
    top:0.5rem;
    right:1rem;
    width:0.8rem;
    height:0.8rem;
    cursor: pointer;
}
form{
    width:100%;
}
.input_window{
    width:100%;
    height:2.25rem;
    border: 1px solid #CCCCCC;
    border-radius: 0.25rem;
    margin-bottom: 0.4rem;
    padding-left: 0.75rem;
    box-sizing: border-box;
}
.signin_up{
    width:100%;
    font-size: 0.95rem;
    color:#FFFFFF;
    background: #448899;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.a_switch{
    width:100%;
    font-size: 0.8rem;
    color:#666666;
    text-align: center;
    margin-bottom: 0.75rem;
    margin-top:0.1rem;
    cursor: pointer;
}
.message{
    color:red;
}
.cover{
    background-color: #000000;
    opacity: 0.25;
    width: 100%;
    height:100%;
    top:0;
    position:fixed;
}
/* 平板自由發揮 */
@media (min-width:600px) and (max-width:1200px) {
    .header{
        margin:auto 1.5rem;
    }
    article, .title_container{
        width:95%;
    }
    .booking_schedule_container, .title_box{
        margin:auto 0.5rem;
    }
    .signin_Window, .signup_Window{
        z-index: 100;
    }
}
@media (min-width:360px) and (max-width:600px){
    .header{
        margin:auto 0.5rem;
    }
    article, .title_container{
        width:100%;
    }
    .content_container{
        display:grid;
        grid-template-columns: none;
    }
    .schedule_container{
        margin-left: 0;
    }
    .booking_schedule_container, .title_box{
        margin:auto 0.5rem;
    }
    .attractionImage{
        width:100%;
        object-fit: cover;
    }
}