<!DOCTYPE html>
<head>
    <title>台北一日遊景點</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/attraction.css')}}" type="text/css" rel="stylesheet">
    <script src="../static/js/window.js" defer></script>
    <script src="../static/js/attraction.js" defer></script>


</head>
<body>
    <header>
        <div class="header">
            <h1 onclick="backtohome();">台北一日遊</h1>
            <nav>
                <ul>
                    <li class="bookNav" onclick="bookCheck();">預定行程</li>
                    <li class="signinNav" onclick="showSignin();" style="visibility:hidden">登入/註冊</li>
                    <li class="memberNav" onclick="member();" style="display:none">會員中心</li>
                    <li class="logoutNav" onclick="logout();" style="display:none">登出系統</li>
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div class=imgContainer>
            <div class="slideShowContainer">
                <div class="img">

                </div>
            </div>
            <div class="icon">
                <img class="leftArrow" src="/static/icon/left arrow.png" onclick="leftArrow();">
                <ul class="dotContainer"></ul>
                <img class="rightArrow" src="/static/icon/btn_rightArrow.png" onclick="rightArrow();">
            </div>
        </div>
        <div class="content">
            <div class="name"></div>
            <div class="category"></div>at<div class="mrt"></div>
            <div class="booking">
                <div class="booking_1">訂購導覽行程</div>
                <div class="booking_2">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <form class="booking_form">
                    <div class="booking_3">選擇日期：<input type="date" class="date" name="date" required><div class="date_message"></div></div>
                    <div class="booking_4">選擇時間：
                    <!-- name is for group, so that user only can choose one in this radio group -->
                    <input type="radio" id="fee_up" class="option" name="time" value="09:00~12:00" onchange="feeOption();" checked>
                    <label for="fee_up" class="option">上半天</label>
                    <input type="radio" id="fee_down" class="option" name="time" value="12:00~18:00" onchange="feeOption();" >
                    <label for="fee_down" class="option">下半天</label></div>
                    <div class="booking_5">導覽費用：
                        <div class="option1">新台幣2000元</div>
                    </div>
                </form>
                <button class="booking_6" onclick="booking_created();">開始預定行程</button>
            </div>
        </div>
    </section>
    <article>
        <p class="p_description">平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</p>
        <span>景點地址：</span><p class="p_address">臺北市 大安區忠孝東路4段</p>
        <span>交通方式：</span><p class="p_transport">捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</p>
    </article>
    
    <footer>
        <div class="footer">COPYRIGHT©2021 台北一日遊</div>
    </footer>
    <div class="cover" style="display:none"></div>
    <div class="signin_Window" style="display:none">
        <div class="decorationBar"></div>
        <div class="container">
            <div class="HeadContainer">
                <div class="WindowHead">登入會員帳號</div>
                <img onclick="cross();" class="close" src="/static/icon/icon_close.png">
            </div>
            <form class="signinForm" method="PATCH">
                <input type="email" class="input_window" name="email" placeholder="輸入電子郵件">
                <input type="password" class="input_window" name="password" placeholder="輸入密碼">
            </form>
            <button onclick="signin();" class="signin_up">登入帳戶</button>
            <div class="signin message"></div>
            <a onclick="showSignup();" class="a_switch">還沒有帳戶?點此註冊</a>
        </div>
    </div>
    <div class="signup_Window" style="display:none">
        <div class="decorationBar"></div>
        <div class="container">
            <div class="HeadContainer">
                <div class="WindowHead">註冊會員帳號</div>
                <img onclick="cross();" class="close" src="/static/icon/icon_close.png">
            </div>
            <form class="signupForm" method="POST">
                <input class="input_window" name="name" placeholder="輸入姓名">
                <input type="email" class="input_window" name="email" placeholder="輸入電子郵件" required>
                <input type="password" class="input_window" name="password" placeholder="輸入密碼">
            </form>
            <button onclick="signup();" class="signin_up">註冊新帳戶</button>
            <div class="signup message"></div>
            <a onclick="showSignin();" class="a_switch">已經有帳戶了?點此登入</a>
        </div>
    </div>
</body>


</html>