<!DOCTYPE html>
<head>
    <title>預定行程</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='css/booking.css')}}" type="text/css" rel="stylesheet">
    <script src="../static/js/window.js" defer></script>
    <script src="../static/js/booking.js" defer></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>    
    <script src="../static/js/tappay.js" defer></script>
</head>
<body>
    <header>
        <div class="header">
            <h1 onclick="backtohome();">台北一日遊</h1>
            <nav>
                <ul>
                    <li class="bookNav" onclick="bookCheck();">預定行程</li>
                    <li class="signinNav" onclick="showSignin();" style="display:list-item">登入/註冊</li>
                    <li class="logoutNav" onclick="logout();" style="display:none">登出系統</li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="title_container">
        <div class="title_box">
            <p class="first title">您好，</p>
            <div class="userName"></div>
            <p class="first title">，待預定的行程如下：</p>
        </div>
    </div>
    <div class="booked" style="visibility: hidden;">
        <article class="booking_schedule">
            <div class="booking_schedule_container">
                <div class="content_container">
                    <img class="attractionImage">
                    <div class="schedule_container">
                        <div class="attraction_container">
                            <p class="attractionName">台北一日遊：</p><div class="attractionName"></div>
                        </div>
                        <div class="schedule_title_container">
                            <p class="schedule_title">日期：</p><div class="date"></div>
                            <p class="schedule_title">時間：</p><div class="time"></div>
                            <p class="schedule_title">費用：</p><div class="price"></div>
                            <p class="schedule_title">地點：</p><div class="address"></div>
                        </div>
                    </div>
                    <img onclick="deleteBooking();" class="delete" src="/static/icon/icon_delete.png">
                </div>
            </div>
        </article>
        <article>
            <div class="booking_schedule_container">
                <p class="title">您的聯絡資訊</p>
                <form class="contactForm" method="POST">
                    <div>聯絡姓名：<input name="name" required></div>
                    <div>聯絡信箱：<input type="email" name="email" required></div>
                    <div>手機號碼：<input type="tel" name="mobilePhone" placeholder="0912-123-123" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required></div>
                </form>
                <p class="notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>
        </article>
        <article>
            <div class="booking_schedule_container">
                <p class="title">信用卡付款資訊</p>
                <form method="POST">
                    <div class="tpfieldContainer">卡片號碼：<div class="tpfield" id="card-number"></div></div>
                    <div class="tpfieldContainer">過期時間：<div class="tpfield" id="card-expiration-date"></div></div>
                    <div class="tpfieldContainer">驗證密碼：<div class="tpfield" id="card-ccv"></div></div>
                </form>
            </div>
        </article>
        <article class="article_bottom">
            <div class="booking_schedule_container">
            <p class="total_price">總價：</p>
            <button class="pay" onclick="pay();">確認訂購並付款</button>
            </div>
        </article>
    </div>
    <div class="none_booked" style="display:none">
        <div class="none_booked_container">
            <p class="none_booked_content">目前沒有任何待預定的行程</p>
        </div>
    </div>
    <footer>
        <div class="footer">COPYRIGHT©2021 台北一日遊</div>
    </footer>
    <div class="cover" style="display:none"></div>
    <div class="signin_Window" style="display:none">
        <div class="decorationBar"></div>
        <div class="container">
            <div class="HeadContainer">
                <div class="WindowHead">登入會員帳號</div>
                <img onclick="cross();" class="close" src="/static/icon/icon_close.png">
            </div>
            <form class="signinForm" method="PATCH">
                <input class="input_window" name="email" placeholder="輸入電子郵件">
                <input type="password" class="input_window" name="password" placeholder="輸入密碼">
            </form>
            <button onclick="signin();" class="signin_up">登入帳戶</button>
            <div class="signin message"></div>
            <a onclick="showSignup();" class="a_switch">還沒有帳戶?點此註冊</a>
        </div>
    </div>
    <div class="signup_Window" style="display:none">
        <div class="decorationBar"></div>
        <div class="container">
            <div class="HeadContainer">
                <div class="WindowHead">註冊會員帳號</div>
                <img onclick="cross();" class="close" src="/static/icon/icon_close.png">
            </div>
            <form class="signupForm" method="POST">
                <input class="input_window" name="name" placeholder="輸入姓名">
                <input class="input_window" name="email" placeholder="輸入電子郵件" required>
                <input type="password" class="input_window" name="password" placeholder="輸入密碼">
            </form>
            <button onclick="signup();" class="signin_up">註冊新帳戶</button>
            <div class="signup message"></div>
            <a onclick="showSignin();" class="a_switch">已經有帳戶了?點此登入</a>
        </div>
    </div>
    <div class="alert_Window" style="display:none">
        <div class="decorationBar"></div>
        <div class="container">
            <img onclick="cross();" class="close" src="/static/icon/icon_close.png">
            <div class="HeadContainer">
                <div class="WindowHead">錯誤</div>
                <div class="alert_message"></div>
            </div>
        </div>
    </div>
</body>
</html>